@statusBarBorderColor: #cbcbcb;

.navbar {
    .subnavbar {
        .searchbar {
            background-color: var(--f7-navbar-bg-color);

            .buttons-row {
                align-self: center;
                display: flex;
            }

            .searchbar-bg {
                .hairline(bottom, @statusBarBorderColor);
            }

            .searchbar-inner {
                &__right {
                    display: block;
                }
            }
        }
    }

    .searchbar-inner {
        padding-left: 25px;
        padding-right: 18px;
        justify-content: space-between;
        height: 100%;
        &__left {
            // height: 100%;
            width: 65%;
        }
        &__right {
            // height: 100%;
            .buttons-row {
                display: flex;
                justify-content: flex-end;
            }
            .link-settings {
                max-width: 24px;
                min-width: 24px;
                margin-left: 20px;
            }
        }
    }

    .buttons-row-replace {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
        // margin-top: 5px;
        a {
            font-size: 15px;
            height: auto;
            display: block;
            line-height: normal;
        }
        a:nth-child(2) {
            margin-left: 20px;
        }
    }

    .searchbar-expandable {
        transition-duration: 0s;
    }

    .searchbar-expandable.searchbar-enabled {
        top: 0;
    } 
}
